body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  margin-top: 3%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start-button {
  font-size: 2rem;
  border: none;
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #ebcb3b;
  text-shadow: 5px 0 rgb(239, 0, 0);;
  background-color: #011f3f;
  margin: 0;
}

@media (max-width: 1220px) {
  .btn {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 920px) {
  .btn {
    width: 100px;
    height: 100px;
  }
}
